.task-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: #f5ebeb;
    justify-content: center;
    margin-top: 40px;
}
.task-container > div {
  min-height: 10vh;
  max-width: 1000px;
  padding: 10px;
}


.task-container header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.task-container h1 {
  font-size: 2rem;
}

.task-container input[type="text"] {
  width: 100%;
  padding: 10px;
}

.task-container .form-check {
  background-color: #F3F4F6;
  padding: 10px;
  margin-bottom: 5px;
}

.task-container .form-check label {
  text-decoration: none;
}

.task-container .form-check input[type="checkbox"] {
  margin-right: 10px;
}

.task-container .form-check input[type="text"] {
  width: calc(100% - 40px); 
}

.task-container .btn-group {
  gap: 5px;
}

.task-container .text-end {
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .task-container > div {
    padding: 5px;
  }
  
  .task-container h1 {
    font-size: 1.5rem;
  }
  
  .task-container .form-check input[type="text"] {
    width: calc(100% - 30px);
  }
}
