.header-dash{
    height: 250px;
    width: 100%;
    background-color: lightblue;
    margin: 0 auto;
    text-align: center;
    padding-top: 70px;
}
.task-container{
    height: 600px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: #ffffff;
    padding: 40px 40px;
}